<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <!--STYLES END-->
  </head>

  <body>
    <nav class='navbar navbar-default'>
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/">TacticHand</a>
        </div>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <% if (req.isAuthenticated()) { %>
                <li><a href="/logout">Deconnexion</a></li>
                <li><a href="/account">Mon compte</a></li>
            <% } else { %>
                <li><a href="/login">Connexion</a></li>

                <li><a href="/register">Creer un compte</a></li>
                <li><a href="/user">Utilisateurs</a></li>
            <% } %>
        </ul>
      </div>
    </nav>

    <% if (req.session.flash) { %>
      <% if (req.session.flash.success) { %>
        <div class="flash alert alert-success">
          <%- req.flash('success') %>
        </div>
      <% } %>

      <% if (req.session.flash.indo) { %>
        <div class="flash alert alert-info">
          <%- req.flash('info') %>
        </div>
      <% } %>

      <% if (req.session.flash.error) { %>
        <div class="flash alert alert-danger">
          <%- req.flash('error') %>
        </div>
      <% } %>
    <% } %>

    <div class="container-fluid content">
      <%- body %>
    </div>
  </body>
</html>
