
<h1>Connectez vous !</h1>

<a href="/auth/google" class="btn btn-default">Google</a>
<a href="/auth/twitter" class="btn btn-default">Twitter</a>

<h3>Par email</h3>
<form action="/login" method="POST">
  <input type="text" name="email" placeholder="e-mail" />
  <input type="password" name="password" placeholder="Mot de passe" />

  <input type="submit" value="connexion" />
</form>
