$header: sprite-map('header/*.png');
$logoUrl: sprite-file($header, 'bsc-logo');

.header {
  background: sprite($header, 'bsc-logo') no-repeat;
  color: $primary;

  h1 {
    text-align: left;
    margin: 0 0 0 (image-width($logoUrl) + 20);
    font-size: image-height($logoUrl) - 20;
  }

}
