@import "variables";
@import "layout";
@import "header";
@import "player";
@import "nav";

input {
  padding: 6px 5px 7px 5px;
  border: 1px solid $secondary;
  border-radius: 3px;
  box-shadow: none;
  background: white;
  outline: none;
}
input:focus {
  border-color: $primary;
}

.btn-primary {
  display: inline-block;
  border: 1px solid $primary;
  color: $primary;
  background: white;
  box-shadow: none;
  padding: 6px 10px 7px;
  border-radius: 3px;
}
.btn-large {
  padding-left: 40px;
  padding-right: 40px;
}

