// Font faces
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500italic,500,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900italic,900);

body,
input,
select {
  font-family: 'Roboto';
  font-size: 16px !important;
  text-rendering: optimizeLegibility;
}

.app-title {
  font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto' !important;
}

a {
  text-decoration: underline;
}

