@import 'typo';
@import 'utils';
$mainColor: #ff9800;
$mainColorLight: #ffb74d;
$secondColor: #4d69ff;
$secondColorLight: #a6baff;

body {
  background-color: rgba(0,0,0,0.12);
}

.pure-menu.pure-menu-open {
  background-color: $mainColor;
  min-height: 40px;

  a {
    color: white !important;
    line-height: 28px;
    font-size: 16px;
  }
  .pure-menu-heading {
    font-size: 20px;
  }
  li > a:hover {
    background-color: $mainColorLight;
  }
}

.pure-button-primary {
  background-color: $secondColor;
}

.block {
  margin-top:6%;
  background-color: white;
  position: relative;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.19);

  .h1 {
    margin-bottom: 25px;
    color: $mainColor;
    font-size: 20px;
  }
}

.bg-content-top {
  background-color: $mainColor;
  position:absolute;
  min-height:200px;
  width:100%;
  z-index: -1;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.social-login {
  width: 350px;

}

.social-login-item {
  margin: 0 auto 15px;
  width: 325px;
  height: 42px;
  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 750px) {
  .block {
    width: 700px;
  }
}
@media (max-width: 750px) {
  .block {
    width: 350px;
  }
}

@media (min-width: 750px) {
  .form-login {
    float: right;
    padding-left: 25px;
  }

  .social-login {
    border-right: 1px solid #eee;
    float: left;
    padding-right: 25px;
  }

  .form-login,
  .social-login {
    padding-bottom: 10px;
    padding-top: 10px;
  }

}
@media (max-width: 750px) {
  .social-login {
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  .form-login {
    width: 325px;
  }
}


.btn-login,
.btn-login:hover,
.btn-login:visited,
.btn-login:active {
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 42px;
  padding: 10px 18px;
  position: relative;
  text-align: left;
  width: 100%;

  .logo {
    background: no-repeat scroll rgba(255, 255, 255, .08) center center;
    background-size: 42px;
    box-shadow: 1px 0 0 rgba(0, 0, 0, .05);
    height: 42px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 42px;
  }

  .btn-login-text {
    display: inline-block;
    margin-left: 42px;
    margin-top: -3px;
  }

  &.facebook {
    background: linear-gradient(#5678bc, #314a7b) repeat scroll 0% 0% transparent;
    border-color: #293f69 #1b2945 #1b2945;
    border-right: 1px solid #1b2945;
    border-style: solid;
    border-width: 1px;

    .logo {
      background-image: url('/images/facebook.png');
    }
  }

  &.google {
    background: linear-gradient(#f87474, #e65858) repeat scroll 0% 0% transparent;
    border-color: #e34242 #d21f1f #d21f1f;
    border-right: 1px solid #d21f1f;
    border-style: solid;
    border-width: 1px;

    .logo {
      background-image: url('/images/google.png');
    }
  }

  &.twitter {
    background: linear-gradient(#5fbee4, #2091bd) repeat scroll 0% 0% transparent;
    border-color: #2091bd #1c80a8 #1c80a8;
    border-right: 1px solid #1c80a8;
    border-style: solid;
    border-width: 1px;

    .logo {
      background-image: url('/images/twitter.png');
    }
  }
}

