<div class="container" id="app-wrapper">
  <div class="row">
    <div class="col-md-12">
      <a href="#" id="add-combi-btn">Créer une nouvelle tactique</a>
      <div class="list-group">

        <div class="hidden list-group-item" id="add-combi-form-wrapper">
          <form action="/_api/combis" method="post" class="form-inline" id="add-combi-form">
            <div class="form-group">
              <label for="add-combi-name">Nom</label>
              <input class="form-control" type="text" />
            </div>
            <div class="form-group">
              <input class="form-control btn btn-primary" type="submit" value="Créer" />
            </div>
          </form>
        </div>

        <% combis.forEach(function(combi) { %>
          <div class="list-group-item">
            combi.name
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<script src="/js/app.js"></script>
